<div id="additional-shipping-option-wrapper" data-bind="visible: selectedMethod()">
    <form class="form form-oca-shipping-method" id="form-oca-shipping-method" data-mage-init='{"validation":{}}'
          novalidate="novalidate" data-hasrequired="* Required Fields">
        <div data-bind="attr: {'data-hasrequired': $t('* Required Fields')}, afterRender: myAfterRender()">

            <div id="oca_operatory_methods"  data-bind="visible: isToMyDoor || isToBranch" style="padding-left: 30px;">
                <div id="to_my_door"  data-bind="visible: isToMyDoor">
                    <input data-bind="event:{change:operatoryMethodChange}, checked: checkedDefault"
                           id="input_to_my_door" name="oca_operatory" type="radio" value="to_my_door"> <label for="input_to_my_door">To My Door</label>
                </div>
                <div id="to_branch"  data-bind="visible: isToBranch">
                    <input data-bind="event:{change:operatoryMethodChange}, checked: checkedDefault"
                           id="input_to_branch" name="oca_operatory" type="radio" value="to_branch"> <label for="input_to_branch">To Branch</label>
                    <div style="padding-left: 25px" id="search_branch" data-bind="visible: selectedToBranch">
                        <label for="oca_zipcode">Search branch by zipcode</label>
                        <input data-bind="event:{blur:searchBranches}" style="max-width: 100px" id="oca_zipcode" type="text" value=""/>
                        <div id="wrapper_branch_list" style="margin-top: 10px;">
                            <select aria-required="true" data-bind="
                                            options: branchList,
                                            value: selectedValueBranchList,
                                            event:{change:branchChange},
                                            optionsText: 'name',
                                            optionsValue: 'value',
                                            optionsCaption:'Choose a Branch...'"
                                    data-validate="{required:true}"
                                    name="oca_branches" id="branch_list" style="max-width: 300px">
                            </select>
                            <div id="validate-branch-message" class="message notice" style="max-width: 235px; margin-top: 10px;">
                                <span text="warningMessage()" />
                            </div>
                            <div id="previewSelectedBranch"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>