<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<!-- ko if: (isVisible()) -->
<div class="shipping-information">
    <div class="ship-to">
        <div class="shipping-information-title">
            <span data-bind="i18n: 'Ship To:'"></span>
            <button class="action action-edit" data-bind="click: back">
                <span data-bind="i18n: 'edit'"></span>
            </button>
        </div>
        <div class="shipping-information-content">
            <!-- ko if: selectedMethod() -->
            <style> #checkout-payment-method-load .payment-method-billing-address{display: none !important;} </style>
            <div id="ship-to-branch-info">
                Ship to branch:
                <div class="branchinfo">
                    <span class="value" data-bind="html: getSelectedBranchInfo()"></span>
                </div>
            </div>
            <!-- /ko -->

            <!-- ko ifnot: selectedMethod() -->
                <!-- ko foreach: getRegion('ship-to') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
            <!-- /ko -->
        </div>
    </div>
    <div class="ship-via">
        <div class="shipping-information-title">
            <span data-bind="i18n: 'Shipping Method:'"></span>
            <button class="action action-edit" data-bind="click: backToShippingMethod">
                <span data-bind="i18n: 'edit'"></span>
            </button>
        </div>
        <div class="shipping-information-content">
            <span class="value" data-bind="text: getShippingMethodTitle()"></span>
        </div>
    </div>
</div>
<!--/ko-->
