<?php
/** @var \Oca\TrackEPak\Block\Adminhtml\Detail\ExtraFields $block */
$isOcaShipment = $block->isOcaShipment();
?>
<?php if ($isOcaShipment) : ?>
<section id="order-addresses">
    <div class="admin__page-section-title">
        <span class="title"><?= $block->escapeHtml(__('Oca Shipping')) ?></span>
    </div>
</section>
    <?php
        $isCreatedShipment = $block->isCreatedShipment();
        if (!$isCreatedShipment) :
    ?>
    <label for="shipping_type">Shipping type: </label>
    <select id="shipping_type">
        <option value="from_door">From Door</option>
        <option value="from_branch">From Branch</option>
    </select>
    <form id="create_shipment_door" action="<?= $block->getSaveUrl() ?>" method="post">
        <input type="hidden" name="form_key" value="<?php echo $block->getFormKey() ?>" />
        <input type="hidden" name="shipping_type" value="from_door" />
        <fieldset id="from_door" >
            <legend>From door:</legend>
            <div class="admin__fieldset">
                <div class="admin__field">
                    <div class="admin__field-label">
                        Nro remito
                    </div>
                    <div class="admin__field-control">
                        <input data-validate="{required:true, 'minlength':3, 'maxlength':30}" class="admin__control-text" type="text" id="nroremito_from_door" name="nroremito_from_door" placeholder="Nro remito">
                    </div>
                </div>
                <div class="admin__field">
                    <div class="admin__field-label">
                        Calle retiro
                    </div>
                    <div class="admin__field-control">
                        <input data-validate="{required:true, 'maxlength':30}" class="admin__control-text" type="text" id="calleRetiro" name="calleRetiro" placeholder="La Rioja">
                    </div>
                </div>
                <div class="admin__field">
                    <div class="admin__field-label">
                        Nro Retiro
                    </div>
                    <div class="admin__field-control">
                        <input data-validate="{required:true, 'maxlength':5}" class="admin__control-text" type="text" id="nroRetiro" name="nroRetiro" placeholder="300">
                    </div>
                </div>
                <div class="admin__field">
                    <div class="admin__field-label">
                        Cp Retiro
                    </div>
                    <div class="admin__field-control">
                        <input data-validate="{required:true, 'validate-number': true, 'minlength':4, 'maxlength':4}" class="admin__control-text" type="text" id="cpRetiro" name="cpRetiro" placeholder="1215">
                    </div>
                </div>
                <div class="admin__field">
                    <div class="admin__field-label">
                        Localidad Retiro
                    </div>
                    <div class="admin__field-control">
                        <input data-validate="{required:true, 'maxlength':30}" class="admin__control-text" type="text" id="localidadRetiro" name="localidadRetiro" placeholder="CAPITAL FEDERAL">
                    </div>
                </div>
                <div class="admin__field">
                    <div class="admin__field-label">
                        Provincia Retiro
                    </div>
                    <div class="admin__field-control">
                        <input data-validate="{required:true, 'maxlength':30}" class="admin__control-text" type="text" id="provinciaRetiro" name="provinciaRetiro" placeholder="CAPITAL FEDERAL">
                    </div>
                </div>
                <div class="admin__field">
                    <div class="admin__field-label">
                        Contacto Retiro
                    </div>
                    <div class="admin__field-control">
                        <input data-validate="{required:true, 'maxlength':30}" class="admin__control-text" type="text" id="contactoRetiro" name="contactoRetiro" placeholder="admin">
                    </div>
                </div>
                <div class="admin__field">
                    <div class="admin__field-label">
                        Email Retiro
                    </div>
                    <div class="admin__field-control">
                        <input data-validate="{required:true, 'validate-email':true, 'maxlength':100}" class="admin__control-text" type="text" id="emailRetiro" name="emailRetiro" placeholder="test@oca.com.ar">
                    </div>
                </div>
                <div class="admin__field">
                    <div class="admin__field-label">
                    </div>
                    <div class="admin__field-control">
                        <input type="submit"  class="action-default scalable save primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" style="padding:10px 30px" value="Create shipment">
                    </div>
                </div>
            </div>
        </fieldset>
    </form>

    <form id="create_shipment_branch" action="<?= $block->getSaveUrl() ?>" method="post">
        <input type="hidden" name="form_key" value="<?php echo $block->getFormKey() ?>" />
        <input type="hidden" name="shipping_type" value="from_branch" />
        <fieldset id="from_branch">
            <legend>From branch:</legend>
            <div class="admin__fieldset">
                <div class="admin__field">
                    <div class="admin__field-label">
                        Nro remito
                    </div>
                    <div class="admin__field-control">
                        <input data-validate="{required:true, 'minlength':3, 'maxlength':30}" class="admin__control-text" type="text" id="nroremito_from_branch" name="nroremito_from_branch" value="Nro remito">
                    </div>
                </div>
                <div class="admin__field">
                    <div class="admin__field-label">
                        Zip code
                    </div>
                    <div class="admin__field-control">
                        <input class="admin__control-text" type="text" id="branch_zip_code" name="branch_zip_code" data-validate="{required:true, 'validate-number': true, 'maxlength':4, 'minlength':4}"  placeholder='You can type 1214 or 2115 or any postal code then press button "Get branch nearest"'>
                    </div>
                </div>
                <div class="admin__field">
                    <div class="admin__field-label">

                    </div>
                    <div class="admin__field-control">
                        <button id="branch_find_zip_code" class="action-basic" value="Get branch nearest">
                            <span>Get branch nearest</span>
                        </button>
                    </div>
                </div>
                <fieldset class="admin__field">
                    <div class="admin__field-label">
                        Select branch
                    </div>
                    <div class="admin__field-control">
                        <select data-validate="{required:true}" class="admin__control-select " type="branch_data" id="branch_data" name="branch_data">

                        </select>
                    </div>
                </fieldset>
                <div class="admin__field">
                    <div class="admin__field-label">
                    </div>
                    <div class="admin__field-control">
                        <input type="submit" class="action-default scalable save primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" style="padding:10px 30px" value="Create shipment">
                    </div>
                </div>
            </div>
        </fieldset>
    </form>

    <style>
        fieldset#from_branch {
            display: none;
        }
    </style>
    <script>
        const SHIPPING_TYPE_FROM_BRANCH = 'from_branch';
        const SHIPPING_TYPE_FROM_DOOR = 'from_door';
        require([
            'jquery',
            'mage/mage',
            'Magento_Ui/js/modal/confirm',
            'Magento_Ui/js/modal/alert'
        ], function ($, confirmation, alert) {
            let dataFormBranch = $('#create_shipment_branch');
            dataFormBranch.mage('validation', {});
            let dataFormDoor = $('#create_shipment_door');
            dataFormDoor.mage('validation', {});

            $("select#shipping_type").on('change', function() {
                let shipping_type_choose = $(this).children("option:selected").val();
                if (shipping_type_choose === SHIPPING_TYPE_FROM_BRANCH) {
                    console.log(SHIPPING_TYPE_FROM_BRANCH);
                    $('fieldset#' + SHIPPING_TYPE_FROM_BRANCH).show();
                    $('fieldset#' + SHIPPING_TYPE_FROM_DOOR).hide();

                } else {
                    console.log(SHIPPING_TYPE_FROM_DOOR);
                    $('fieldset#' + SHIPPING_TYPE_FROM_BRANCH).hide();
                    $('fieldset#' + SHIPPING_TYPE_FROM_DOOR).show();
                }
            });

            $("button#branch_find_zip_code").on('click', function() {
                let ajax_url = "<?php echo $block->getCentrosImposicionConServiciosByCPUrl(); ?>";
                let branch_zip_code = $('fieldset#' + SHIPPING_TYPE_FROM_BRANCH + " input#branch_zip_code").val();
                $.ajax({
                    url: ajax_url,
                    dataType: "json",
                    type: "GET",
                    data: {
                        zipcode: branch_zip_code
                    },
                    success: function(result){
                        if  (result.length > 0) {
                            var selectBranchField = $('fieldset#from_branch select#branch_data');
                            selectBranchField
                                .show()
                                .find('option')
                                .remove()
                                .end();
                            $.each(result,function(index, value){
                                let branchName = value['Sigla'] + ' ' + value['Calle'] + ' [ ' + value['Localidad'] + ' - ' + value['Provincia'] + '] ';
                                selectBranchField.append(
                                    '<option value=\'' + JSON.stringify(value) + '\'>' + branchName + '</option>'
                                );
                            });
                        } else {
                            alert({
                                title: $.mage.__('Find nearest centro result'),
                                content: $.mage.__('We cannot find any centro for input zipcode, please try with another zipcode'),
                                actions: {
                                    always: function(){}
                                }
                            });
                        }
                        $('body').loader('hide');
                    },
                    beforeSend: function (){
                        $('body').loader('show');
                    }
                });
                return false;
            });

            $("form#create_shipment_branch").on('submit', function( event ) {
                let status = dataFormBranch.validation("isValid");
                if (status == true) {
                    $('body').loader('show');
                } else {
                    return false;
                }
            });

            $("form#create_shipment_door").on('submit', function( event ) {
                let status = dataFormDoor.validation("isValid");
                if (status == true) {
                    $('body').loader('show');
                } else {
                    return false;
                }
            });
        });
    </script>
    <?php
        else:
            $ocaShipmentInfo = $block->getOcaShipmentInfo();
    ?> <!-- end if oca shipment and not created shipment before -->
    <fieldset>
        <legend>Oca Shipment info</legend>
        <div class="admin__fieldset">
            <div class="admin__field">
                <div class="admin__field-label">
                    Orden Retiro
                </div>
                <div class="admin__field-control">
                    <input class="admin__control-text" type="text" value="<?php echo $ocaShipmentInfo['orden_retiro']; ?>" disabled>
                </div>
            </div>
            <div class="admin__field">
                <div class="admin__field-label">
                    Numero Envio
                </div>
                <div class="admin__field-control">
                    <input class="admin__control-text" type="text" id="nroRetiro" name="nroRetiro" value="<?php echo $ocaShipmentInfo['numero_envio']; ?>" disabled>
                </div>
            </div>
        </div>
    </fieldset>
    <?php endif; ?>
<?php endif; ?>