//
//  Custom CSS fallback
//  _____________________________________________

//  Fallback file for CSS overrides in custom child-themes.
//
//  To add custom CSS styles, create custom child-theme (with Ultimo
//  as its parent theme) and create "_custom.less" in the following location:
//  <YOUR_MAGENTO_INSTALL_DIRECTORY>/app/design/frontend/<YOUR_VENDOR_NAME>/<YOUR_THEME_NAME>/web/css/_custom.less

//  Below you can find usage examples.



// & when (@media-common = true) {
//
//     //  Set border color of search box
//
//     .header-regular .block-search input.input-text {
//         border-color: red;
//     }
//
// } // end: media-common



//  Uncomment the line below to disable Font Awesome icons:

// @fontawesome-enable: false;

// Login
.column:not(.sidebar-additional) form .actions-toolbar,
.login-container .fieldset:after {
    margin-left: 0%;
}

.fieldset > .field:not(.choice) > .label{
    text-align: left;
}

.block-customer-login .actions-toolbar .secondary{
    float: left;
}

// Social Login
.social-btn .btn-social {
    text-align: center;
}
